.logo-space {
	margin: auto;
	max-width: 690px;
}

.logo-icon {
	max-width: 668px;
	height: auto;
}

.nav {
	margin: auto;
	padding: 5px;
	max-width: 300px;
}

h1 {
	font-family: "Charcoal", "Helvetica Neue", serif;
	font-size: 3em;
	line-height: normal;
}

html, body {
	margin:0;
	padding:0;
	height: 100%;
}
footer {
	position: relative;
	margin-top: 150px;
	height: 150px;
	clear: both;
	padding-top: 20px;
}

.oval {
	max-width: 144px;
	height: auto;	
	padding: 2px
}

.content {
	max-width: 750px;
	margin: 0 auto 200px auto;
	padding: 10px;
}

.article-content {
	font-family: "Charcoal", "Helvetica Neue", sans-serif;
	font-size: 1.2em;
	line-height: 32px;
}

article-content {
	font-family: inherit;
	font
}