.logo-space {
	margin: auto;
	max-width: 690px;
}

.logo-icon {
	/*width: 50%;*/
	max-width: 668px;
	height: auto;
}

.nav {
	margin: auto;
	padding: 5px;
	max-width: 400px;
}

.content {
	max-width: 550px;
	margin: auto;
	padding: 10px;
}

.oval {
	max-width: 144px;
	height: auto;	
	padding: 2px
}

