<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %} 
	 	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
		{% endblock head %}

		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
	</head>

	<body>
		{% block header %}
		<header>
			<a href="/"><div class="logo-space">
				<img class="logo-icon" src="{{ SITEURL }}/theme/images/logo.svg">
			</div>
		</a>
		</header>
		{% endblock %}

		{% block navbar %}
		<nav>		
			<div class="nav">
				<a href="./lol-qual-memes"><img class="oval" src="{{ SITEURL }}/theme/images/oval-lol-qual.svg"/></a>
				<a href="./content-list"><img class="oval" src="{{ SITEURL }}/theme/images/oval-written-content.svg"/></a>
				<a href="./graphic-designs"><img class="oval" src="{{ SITEURL }}/theme/images/oval-designs.svg"></a>
			</div>
		</nav>
		{% endblock %}

		<div class="content">
		{% block content %}
	  	{% endblock %}
		</div>
	</body>
	<div>
	{% block footer %}{% endblock %}
	</div>
</html>
