<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %} 
	 	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	 	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
		{% endblock head %}
	</head>

	<body>
		{% block header %}
		<header>
			<a href="/"><div class="logo-space">
				<img class="logo-icon" src="{{ SITEURL }}/theme/images/logo.svg">
			</div>
		</a>
		</header>
		{% endblock %}

		{% block navbar %}
		<nav>		
			<div class="nav">				
			{% for cat, link in MENUITEMS %}
                <a href="{{ link }}"><img class="oval" src="{{ SITEURL }}/theme/images/{{ cat }}.svg"></a>
            {% endfor %}
			</div>
		</nav>
		{% endblock %}

		<div class="content">
		{% block content %}
	  	{% endblock %}
		</div>
	</body>
	<div>
	{% block footer %}{% endblock %}
	</div>
</html>
